<nav>
    <div class="nav__header">
        <h1>Weather Forecast</h1>
    </div>
    
    <p class="nav__input">
        <mat-form-field appearance="outline">
          <mat-label>Введите город</mat-label>
          <input (keydown.enter)="getWeather()" [(ngModel)]="search" autocomplete="off" matInput placeholder="Kyiv">
        </mat-form-field>
    </p>
     
    <section>
        <mat-slide-toggle
            class="nav__slide-toggle"
            [(ngModel)]="isLight">
          {{theme}}
        </mat-slide-toggle>
      </section> 
</nav>

<app-forecast [weather]="weatherData"></app-forecast>
